@import "pdfjs-dist/web/pdf_viewer.css";
@import "@rootcodelabs/skapp-ui";
@import "tailwindcss";

@theme {
  --color-primary: #93c5fd;
  --color-primary-accent: #408ce4;
  --color-primary-text: #2a61a0;
  --color-primary-background: #dbeafe;

  --font-family-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-label-bg-seafoam: #a4d1c9;
  --color-label-bg-sand: #ffe3a6;
  --color-label-bg-lemon: #f4f478;
  --color-label-bg-slate: #cbd5e1;
  --color-label-bg-peach: #ffd6a8;
  --color-label-bg-mint: #b9f8cf;
  --color-label-bg-aqua: #96f7e4;
  --color-label-bg-indigo: #c6d2ff;
  --color-label-bg-magenta: #f4a8ff;
  --color-label-bg-purple: #ddd6ff;

  --color-label-text-seafoam: #1a4a4a;
  --color-label-text-sand: #9e4f00;
  --color-label-text-lemon: #715613;
  --color-label-text-slate: #1e293b;
  --color-label-text-peach: #9f2d00;
  --color-label-text-mint: #0d542b;
  --color-label-text-aqua: #0b4f4a;
  --color-label-text-indigo: #3730a3;
  --color-label-text-magenta: #721378;
  --color-label-text-purple: #4d179a;

  --color-status-sky: #60a5fa;
  --color-status-pink: #14b8a6;
  --color-status-apricot: #fde047;
  --color-status-sunshine: #ff9f40;
  --color-status-teal: #ea5da3;
  --color-status-lavender: #de7cff;
  --color-status-gold: #9366fd;
  --color-status-coral: #b55253;
  --color-status-slate: #84cc16;
  --color-status-lime: #83a0a0;
  --color-status-rosewood: #ff3e3e;
  --color-status-indigo: #eab308;

  --color-secondary-text: #52525b;
  --color-tertiary-text: #68707f;
  --color-secondary-background: #fafafa;
  --color-tertiary-background: #f4f4f5;
  --color-secondary-accent: #e4e4e7;
  --color-secondary-icon: #71717a;
  --color-white: #ffffff;

  --color-semantic-red-background: #fee2e2;
  --color-semantic-red-text: #7f1d1d;
  --color-semantic-red-accent: #dc2626;

  --color-semantic-amber-background: #fef3c7;
  --color-semantic-amber-text: #78350f;
  --color-semantic-amber-accent: #b45309;

  --color-semantic-green-background: #d8f999;
  --color-semantic-green-200: #62b774;
  --color-semantic-green-200: #62b774;
  --color-semantic-green-text: #016630;
  --color-semantic-green-accent: #62b774;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
}
.h1b {
  font-size: 32px;
  font-weight: 600;
}
.h1c {
  font-size: 42px;
  font-weight: 600;
}
.h2 {
  font-size: 20px;
  font-weight: 700;
}
.h3 {
  font-size: 18px;
  font-weight: 700;
}
.subtitle1 {
  font-size: 16px;
  font-weight: 500;
}
.subtitle2 {
  font-size: 16px;
  font-weight: 600;
}
.subtitle3 {
  font-size: 14px;
  font-weight: 500;
}
.subtitle4 {
  font-size: 12px;
  font-weight: 500;
}
.body1 {
  font-size: 16px;
  font-weight: 400;
}
.body2 {
  font-size: 14px;
  font-weight: 400;
}
.body3 {
  font-size: 12px;
  font-weight: 400;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.input-phone-number input:focus {
  outline: none !important;
  /* border:none !important; */
  box-shadow: none !important;
}

.react-tel-input .selected-flag:focus-visible {
  outline: 0.125rem solid #000000;
  outline-offset: 0.0625rem;
  box-shadow: none;
}

.react-tel-input .selected-flag:focus-visible .arrow {
  border-top: 0.3125rem solid #000000 !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e4e4e7;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 8px;
}

.signup-layout-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.signup-layout-content-section--centered {
  justify-content: safe center;
}

.signup-layout-content-section--top {
  justify-content: flex-start;
}

/* Responsive styles */
@media (max-width: 600px) {
  .signup-layout-content-section {
    max-width: 100%;
    padding: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1440px) {
  .signup-layout-content-section {
    padding: 40px;
  }
}

@media (min-width: 1441px) {
  .signup-layout-content-section {
    max-width: 800px;
    padding: 80px;
  }
}

.driver-popover .driver-popover-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.driver-popover .driver-popover-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.full-day-border {
  border: 0.0625rem solid red;
}

.half-day-morning-border {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: transparent;
}

.half-day-morning-border::before,
.half-day-morning-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.0625rem solid red;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
  box-sizing: border-box;
}

.half-day-evening-border {
  position: relative;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: transparent;
}

.half-day-evening-border::before,
.half-day-evening-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.0625rem solid red;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  box-sizing: border-box;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.sticky-table {
  border-collapse: collapse; /* keeps cell borders tidy */
  width: 100%;
}

.sticky-col {
  position: sticky;
  left: 0;
  z-index: 2; /* stay above scrolling cells */
  box-shadow: 2px 0 2px -2px #eee;
  background: #fafafa; /* header background */
}

/* Optional: give the header a higher stacking context */
thead .sticky-col {
  z-index: 3;
  background: #f4f4f5;
}

/**
 * CSS styles for TextArea component dynamic styling
 */

/* Apply hover styles when the hover-active class is present */
.textarea-hover-active:hover {
  background-color: var(--hover-bg-color) !important;
  border-color: var(--hover-border-color) !important;
}

/* Apply focus styles when the focus-active class is present */
.textarea-focus-active {
  border-color: var(--focus-border-color) !important;
  box-shadow: 0px 0px 4px 0px var(--focus-shadow-color) !important;
}

.hover-active:hover {
  background-color: var(--hover-bg-color) !important;
  border-color: var(--hover-border-color) !important;
}
/* Apply focus styles when the focus-active class is present */
.focus-active {
  border-color: var(--focus-border-color) !important;
  box-shadow: 0px 0px 4px 0px var(--focus-shadow-color) !important;
}
